/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */

.title2 {
  color: white;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  font-size: 120px;
}

#img_background {
  background-image: url('../images/apple-pie.jpg');
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
  margin-right: 100px ;
  margin-left: 100px;
}

.recipe_img {
  max-width: 50%;
  max-height: 50%;
  margin-right: auto;
  margin-left: 500px;
  border-radius: 4px;
  padding: 5px;
  width: 400px;
}

.parag1 {
font-size: 1.20em;
text-align: left;
margin-top: 75px;
margin-right: 350px;
margin-bottom: 40px;
margin-left: 350px;
line-height: 1.5;
}

hr {
  height:5px;
  border-width:0;
  background-color:#070707;
}

.ingredients {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 350px;
  
}

ul {
  list-style: none;
}

.ingredients_desc{
  font-size: 1.10em;
  text-align: justify;
  margin-right: 400px;
  margin-left: 370px;
  line-height: 1.5;
  letter-spacing: 1px;
}
.cooking_img {
  max-width: 50%;
  max-height: 50%;
  margin-top: 40px;
  margin-right: auto;
  margin-left: 500px;
  border-radius: 4px;
  padding: 5px;
  width: 400px;
}

hr {
  height: 1px;
  width: 50%;
  background-color:#070707;
}

.directions {
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 350px;
}

.directionsp {
  font-size: 1.10em;
  text-align: left;
  margin-right: 325px;
  margin-bottom: 50px;
  margin-left: 350px;
  line-height: 1.5;
  list-style-position: inside;
}